.chart-container {
  margin: 0px auto 0px auto;
  width: 900px;
  background-color: white;
  color: black;
  padding: 20px;
  text-align: left;
}

.count-number {
  font-size: 20pt;
  margin: 0px;
}


.pop {
  font-size: 30pt;
  margin: 0px;
}

.stats-input {
  width: 400px;
}
