<div class="chart-container">
  <script src="node_modules/chart.js/src/chart.js"></script>
  <h1>Statistics</h1>

  <p class="count-number"><span class="pop">{{appStats.applications}}</span> Applications Submitted</p>
  <p class="count-number"><span class="pop">{{appStats.resumes}}</span> Resumes Uploaded</p>
  <p class="count-number"><span class="pop">{{appStats.resumes_accepted}}</span> Accepted Resumes</p>
  <p class="count-number"><span class="pop">{{appStats.accepted_internal}}</span> Students Accepted</p>
  <p class="count-number"><span class="pop">{{appStats.checkins}}</span> Hackers Checked In</p><br>
  <p class="count-number">Checkin Mode: {{getFriendlyModeName()}}</p>
  <button class="ui-button" (click)="toggleMode()">Toggle Checkin Mode</button>

  <h2>Application Status</h2>
  <p>Breakdown of how many applications are in which state</p>
  <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>

<h2>Applications By Day</h2>
<p>Breakdown of how many applications we recieved per day</p>
<canvas baseChart
            [datasets]="appByDateData"
            [labels]="appByDateLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>

<!-- DevTeam Control Panel -->
<span *ngIf="currentUser.roles.indexOf('devteam') !== -1">
  <h2>DevTeam Options</h2>
  <hr>
  Use this form to update the site's current mode. This will enable/disable applications and change what is shown on the landing page.
  <label for="site_mode">Application Status: {{appMode}}</label>
  <select class="formInput stats-input" [(ngModel)]="model.appMode" #site_mode="ngModel" name="site_mode">
    <option *ngFor="let mode of site_mode_options" [value]="mode.value">
      {{mode.viewValue}}
    </option>
  </select>
  <button class="ui-button" (click)="confirmSiteMode()">Update Application Mode</button>
</span>
</div>
