<md-card class="login-card">
  <md-card-content>
  <h1>Reset Password</h1>
    <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !email.valid }">
          <input placeholder="Email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required>
        </md-input-container>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
    <div class="buttons">
      <button md-raised-button md-ripple [disabled]="loading" mdRippleColor="#F00">Reset Password</button>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
