<md-card class="login-card padded-divs">
  <md-card-content>
    <h1>Reset Password</h1>

    <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
      <div class="inputWrapper">
        <input class="formInput" placeholder="Email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required>
      </div>
      <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
    <div class="buttons">
      <button class="ui-button" [disabled]="loading">Reset Password</button>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
