button {
  color: black;
  width: auto;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
h1 {
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
}

md-input-container {
  margin-bottom: -30px;
}

.buttons {
  margin-top: 70px;
  margin-left: 0px;
}
.help-block {
  margin-top:20px;
  margin-bottom: -30px;
}