<div class="con">
  <h1>Email Verification</h1>
  <div style="text-align:center" >
    <div *ngIf="loading else elseBlock">
      <h3>Verifying your email...</h3>
      <md-progress-spinner
        color="primary"
        mode="indeterminate"
        value="indeterminate"
        class="spinner">
      </md-progress-spinner>
    </div>
    <ng-template #elseBlock>
      <h3>Email verification unsuccessful. :(</h3>
      If you're having problems verifying your email, please contact us at helloworld@purduehackers.com
    </ng-template>
  </div>
</div>
