<div class="con">
  <h1>Email Verification</h1>
  <div style="text-align:center" class="topSpacing">

    <!-- Standard Email Verification -->
    <div *ngIf="!manual else elseBlock">
      <div *ngIf="loading else elseBlock">
        <h3>Verifying your email...</h3>
        <md-progress-spinner
          color="primary"
          mode="indeterminate"
          value="indeterminate"
          class="spinner">
        </md-progress-spinner>
      </div>
      <ng-template #elseBlock>
        <h3>Email verification unsuccessful :(</h3>
        Link not working? You can <a href="#" target="_blank" [routerLink]="['/confirmEmail']" [queryParams]="{token:'manual_verify'}">verify manually</a>.
        <br><br>Please contact us at helloworld@purduehackers.com if you're having issues!
      </ng-template>
    </div>
    <ng-template #elseBlock>
      <!-- Manual Mode -->
      <p>Please enter the token you were emailed</p>
      <div class="topSpacing">
        <input class="formInput" placeholder="Token" name="manual_token" type="text" [(ngModel)]="model.manualtoken" #manualtoken="ngModel" required>
      </div>
      <button class="ui-button topSpacing" [disabled]="loading" (click)="manualVerify()">Verify Email</button>
    </ng-template>

  </div>
</div>
