<md-card class="login-card">
  <md-card-content>
  <h1>Post Announcement</h1>
    <form name="form" (ngSubmit)="f.form.valid && postAnnouncement()" #f="ngForm" novalidate>
      <div>
        <md-input-container class="full-width">
          <input mdInput placeholder="Title" name="title" type="text" [(ngModel)]="announcement.title" #title="ngModel" required />
        </md-input-container>
      </div>
      <div>
        <md-input-container class="full-width">
          <textarea mdInput placeholder="Message" name="message" type="text" [(ngModel)]="announcement.message" #message="ngModel" required></textarea>
        </md-input-container>
      </div>
      <div class="full-width">
        <md-checkbox name="should_email" [(ngModel)]="announcement.should_email" ng-required>Should Email?</md-checkbox>
      </div>
      <br/>
    <div class="buttons">
      <button  [disabled]="loading" mdRippleColor="#F00">Submit</button>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
