<md-card class="login-card padded-divs">
  <md-card-content>
    <h1>Set a new Password</h1>
    <form name="form" (ngSubmit)="f.form.valid && confirmPassword()" #f="ngForm" novalidate>


      <!-- Password Input -->
      <div class="inputWrapper">
      <input class="formInput" placeholder="Password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
      </div>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>

    <div class="buttons">
      <button class="ui-button centered" [disabled]="loading">Reset Password</button>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        value="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>

</md-card>
