<md-card class="main-card">
  <md-card-header>
    <md-card-title><h1>Set A New Password</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <form name="form" (ngSubmit)="f.form.valid && confirmPassword()" #f="ngForm" novalidate>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !password.valid }">
          <input mdInput placeholder="Password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
        </md-input-container>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>

      <div>
    </div>
    <div class="buttons">
      <button md-raised-button md-ripple [disabled]="loading" mdRippleColor="#F00">Reset Password</button>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        value="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
