.main-card {
  max-width: 600px;
  margin: 1em auto;
}

.full-width {
  width: 100%;
  margin: 1em;
}

.hidden-input {
  width: .1px;
  border: none;
  position: absolute;
  margin-top: -25px;
  outline: 0;
}
