<md-card class="login-card">
  <md-card-content>
    <h1>Application</h1>
    <form name="form" (ngSubmit)="f.form.valid && apply()" #f="ngForm" novalidate>
      <div class="SelectForm">
        <label for="class_year">Class Year</label>
        <select class="full-width" [(ngModel)]="model.class_year" #class_year="ngModel" name="class_year"  required>
          <option *ngFor="let year of class_years" [value]="year.value">
            {{year.viewValue}}
          </option>
        </select>
      </div>
      <div class="SelectForm">
        <label for="grad_year">Graduation Year</label>
        <select class="full-width" [(ngModel)]="model.grad_year" name="grad_year" required>
          <option *ngFor="let year of grad_years" [value]="year">
            {{year}}
          </option>
        </select>
        <!-- <div *ngIf="f.submitted && !grad_year.valid" class="help-block">Graduation Year is required</div> -->
      </div>
      <div>
        <!-- <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !model.major }">
          <input mdInput placeholder="Major" name="major" type="text" [(ngModel)]="model.major" #major="ngModel" required>
        </md-input-container> -->
        <label for="major">Major</label>
        <div class="formWrapper">
          <input class="textInput" placeholder="Major" [mdAutocomplete]="auto" [(ngModel)]="model.major" [formControl]="majorCtrl" required>
        </div>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let major of filteredMajors | async" [value]="major" >
            {{ major }}
          </md-option>
        </md-autocomplete>


        <!-- <div *ngIf="f.submitted && !major" class="help-block">Password is required</div> -->
      </div>

      <div class="SelectForm">
        <label for="referral">How did you hear about us?</label>
        <select class="full-width" [(ngModel)]="model.referral" name="referral" required>
          <option *ngFor="let referral of referrals" [value]="referral.value">
            {{referral.viewValue}}
          </option>
        </select>
        <!-- <div *ngIf="f.submitted && !referral" class="help-block">Referral is required</div> -->
      </div>

      <label for="hackathon_count">Past Number of Hackathons</label>
      <div class="formWrapper">
        <input class="textInput" placeholder="Hackathon Count" name="hackathon_count" type="number" [(ngModel)]="model.hackathon_count" #hackathon_count="ngModel" required>
        <div *ngIf="f.submitted && !hackathon_count.valid" class="app-error-block">Hackathon count is required</div>
      </div>

      <label for="dietary_restrictions">Dietary Restrictions</label>
      <div class="formWrapper">
        <input class="textInput" placeholder="Dietary Restrictions" name="dietary_restrictions" type="text" [(ngModel)]="model.dietary_restrictions" #dietary_restrictions="ngModel">
      </div>


      <div class="SelectForm">
        <label for="class_year">T-Shirt Size</label>
        <select class="full-width" [(ngModel)]="model.shirt_size" name="shirt_size" required>
          <option *ngFor="let size of shirt_sizes" [value]="size.value">
            {{size.viewValue}}
          </option>
        </select>
      </div>


      <label for="hackathon_count">Personal Website or Github</label>
      <div class="formWrapper">
        <input class="textInput" placeholder="Website" name="website" type="text" [(ngModel)]="model.website" #website="ngModel" pattern="(https?:\/\/)([\w\d]+\.)?[\w\d]+\.\w+\/?.+">
        <div *ngIf="f.submitted && !website.valid" class="app-error-block">Website must be a valid url</div>
      </div>


      <label for="longanswer_1">Why do you want to attend Hello World?</label>
      <div class="formWrapper">
        <input class="textInput" placeholder="What do you hope to learn from your experience at Hello World?" name="longanswer_1" type="text" [(ngModel)]="model.longanswer_1" #longanswer_1="ngModel" required>
        <div *ngIf="f.submitted && !longanswer_1.valid" class="app-error-block">Answer is required</div>
      </div>


      <label for="longanswer_2">What do you hope to learn from your experience at Hello World?</label>
      <div class="formWrapper">
        <input class="textInput" placeholder="What do you hope to learn from your experience at Hello World?" name="longanswer_2" type="text" [(ngModel)]="model.longanswer_2" #longanswer_2="ngModel" required>
        <div *ngIf="f.submitted && !longanswer_2.valid" class="app-error-block">Answer is required</div>
      </div>


      <div>
        <!-- <p *ngIf="model.resume.uuid">Selected: {{model.resume}}</p> -->
        <input hidden="hidden" id="resume" type="file" name="resume" (change)="setFile($event)" accept=".pdf"/>
        <label for="resume">
          <a md-button md-ripple md-primary>
            <div *ngIf='filename; else elseBlock'> {{filename}} </div>
            <ng-template #elseBlock> Upload Resume </ng-template>
          </a>
        </label>
      </div>

    <div class="buttons">
      <button class="ui-button" [disabled]="loading" mdRippleColor="#F00">Submit</button>
    </div>

    <md-progress-spinner
      *ngIf="loading"
      color="primary"
      mode="indeterminate"
      class="spinner">
    </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
