.login-card {
  max-width: 600px;
}


.full-width {
  width: 100%;
  margin: 1em;
}

.hidden-input {
  width: .1px;
  border: none;
  position: absolute;
  margin-top: -25px;
  outline: 0;
}


Select {
  /*position: absolute;*/
  width: auto;
  padding: 12px 20px;
  font-size: 18px;
  border: 1px solid #C1FFF2;
  border-radius: 4px;
  background: rgba(16, 27, 36, 0.9);
  font-family: 'Varela Round', sans-serif;
  color: #4AC29A;
  text-align: left;
  transition: border-color ease 0.5s;
}

.SelectForm {
	margin-left: -15px;
	margin-right: 20px;
}
