<md-card class="main-card">
  <md-card-header>
    <md-card-title><h1>Application</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <form name="form" (ngSubmit)="f.form.valid && apply()" #f="ngForm" novalidate>
      <div>
        <md-select placeholder="Class Year" class="full-width" [(ngModel)]="model.class_year" name="class_year" [ngClass]="{'mat-input-invalid ': f.submitted && !model.class_year}">
          <md-option *ngFor="let year of class_years" [value]="year.value">
            {{year.viewValue}}
          </md-option>
        </md-select>
        <input type="text"
            class="hidden-input"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="model.class_year"
         />
        <!-- <div *ngIf="f.submitted && !model.class_year" class="help-block">Class Year is required</div> -->
      </div>
      <div>
        <md-select placeholder="Graduation Year" class="full-width" [(ngModel)]="model.grad_year" name="grad_year" ng-required>
          <md-option *ngFor="let year of grad_years" [value]="year">
            {{year}}
          </md-option>
        </md-select>
        <!-- <div *ngIf="f.submitted && !grad_year.valid" class="help-block">Graduation Year is required</div> -->
      </div>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !major.valid }">
          <input mdInput placeholder="Major" name="major" type="text" [(ngModel)]="model.major" #major="ngModel" ng-required>
        </md-input-container>
        <!-- <div *ngIf="f.submitted && !major.valid" class="help-block">Password is required</div> -->
      </div>
      <div>
        <md-select placeholder="Referral" class="full-width" [(ngModel)]="model.referral" name="referral">
          <md-option *ngFor="let referral of referrals" [value]="referral.value">
            {{referral.viewValue}}
          </md-option>
        </md-select>
        <!-- <div *ngIf="f.submitted && !referral.valid" class="help-block">Referral is required</div> -->
      </div>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !hackathon_count.valid }">
          <input mdInput placeholder="Hackathon Count" name="hackathon_count" type="number" [(ngModel)]="model.hackathon_count" #hackathon_count="ngModel" ng-required>
        </md-input-container>
        <!-- <div *ngIf="f.submitted && !hackathon_count.valid" class="help-block">Password is required</div> -->
      </div>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !dietary_restrictions.valid }">
          <input mdInput placeholder="Dietary Restrictions" name="dietary_restrictions" type="text" [(ngModel)]="model.dietary_restrictions" #dietary_restrictions="ngModel">
        </md-input-container>
        <!-- <div *ngIf="f.submitted && !dietary_restrictions.valid" class="help-block">Password is required</div> -->
      </div>
      <div>
        <md-select placeholder="Shirt Size" class="full-width" [(ngModel)]="model.shirt_size" name="shirt_size" ng-required>
          <md-option *ngFor="let size of shirt_sizes" [value]="size.value">
            {{size.viewValue}}
          </md-option>
        </md-select>
        <!-- <div *ngIf="f.submitted && !shirt_size.valid" class="help-block">Password is required</div> -->
      </div>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !website.valid }">
          <input mdInput placeholder="Website" name="website" type="text" [(ngModel)]="model.website" #website="ngModel" ng-required>
        </md-input-container>
        <!-- <div *ngIf="f.submitted && !website.valid" class="help-block">Password is required</div> -->
      </div>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !longanswer_1.valid }">
          <textarea mdInput placeholder="Long Answer 1" name="longanswer_1" type="text" [(ngModel)]="model.longanswer_1" #longanswer_1="ngModel" ng-required></textarea>
        </md-input-container>
        <!-- <div *ngIf="f.submitted && !longanswer_1.valid" class="help-block">Password is required</div> -->
      </div>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !longanswer_2.valid }">
          <textarea mdInput placeholder="Long Answer 2" name="longanswer_2" type="text" [(ngModel)]="model.longanswer_2" #longanswer_2="ngModel" ng-required></textarea>
        </md-input-container>
        <!-- <div *ngIf="f.submitted && !longanswer_2.valid" class="help-block">Password is required</div> -->
      </div>
      <div>
        <!-- <p *ngIf="model.resume.uuid">Selected: {{model.resume}}</p> -->
        <input hidden="hidden" id="resume" type="file" name="resume" (change)="setFile($event)"/>
        <label for="resume"><a md-button md-ripple md-primary>Upload Resume</a></label>
      </div>

    <div class="buttons">
      <button md-raised-button md-ripple [disabled]="loading" mdRippleColor="#F00">Submit</button>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        value="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
