<div class="con">
   <h1>Resources</h1>
   <p>Purdue's CS organizations have come together to provide these these awesome resources for beginner developers!</p>

   <!-- LaunchPad WebDev -->
   <div class="resource-card">
     <a href="https://launchpadcs.gitbooks.io/android-guides/content/">
     <img src="assets/images/logo_launchpad.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to Android</h3>
       <h3 class="resource-subtitle">From our friends at Launchpad</h3>
       <p class="resource-description">
       This small set of resources will help you get started with the basics of Android development.
       </p>
     </div>
     </a>
   </div>

   <!-- LaunchPad Android -->
   <div class="resource-card">
     <a href="https://launchpadcs.gitbooks.io/webdev-guides/content/">
     <img src="assets/images/logo_launchpad.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to WebDev</h3>
       <h3 class="resource-subtitle">From our friends at Launchpad</h3>
       <p class="resource-description">
       This small set of resources will help you get started with the basics of frontend web development.
       </p>
     </div>
     </a>
   </div>

   <!-- LaunchPad Backend -->
   <div class="resource-card">
     <a href="https://launchpadcs.gitbooks.io/backend-guides/content/">
     <img src="assets/images/logo_launchpad.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to Backend</h3>
       <h3 class="resource-subtitle">From our friends at Launchpad</h3>
       <p class="resource-description">
       This small set of resources will help you get started with the basics of backend web development.
       </p>
     </div>
     </a>
   </div>

   <!-- How to WebDev -->
  <div class="resource-card">
    <a href="https://boilercamp.gitbooks.io/boilercamp2016/content/">
    <img src="assets/images/logo_boilermake.png" class="resource-logo" />
    <div class="resource-body">
      <h3 class="resource-title">How to WebDev</h3>
      <h3 class="resource-subtitle">From our friends at BoilerMake</h3>
      <p class="resource-description">
      This short series of tutorials covers the basics of Web Development.
      </p>
    </div>
    </a>
  </div>

  <!-- How to API -->
  <div class="resource-card">
    <a href="http://boilermake.github.io/how-to-webdev/">
    <img src="assets/images/logo_boilermake.png" class="resource-logo" />
    <div class="resource-body">
      <h3 class="resource-title">How to API</h3>
      <h3 class="resource-subtitle">From our friends at BoilerMake</h3>
      <p class="resource-description">
      This set of tutorials covers how to create a simple REST api with node and AngularJS.
      </p>
    </div>
    </a>
  </div>

</div>
