<div class="con">
   <h1>Resources</h1>
   <p>Purdue's CS organizations have come together to provide these these awesome resources for beginner developers!</p>

   <!-- PH Resources -->
   <div class="resource-card">
     <a href="https://wei170.gitbooks.io/learning_package_1-0/content">
     <img src="assets/images/logo_ph.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">The Learning Package</h3>
       <h3 class="resource-subtitle">From Purdue Hackers</h3>
       <p class="resource-description">
         This short set of documents has some handy links to get you started in many different areas of development.
       </p>
     </div>
     </a>
   </div>

   <!-- PH Meteor -->
   <div class="resource-card">
     <a href="https://wei170.gitbooks.io/meteor_learning_0-0/content/get-started/hello-world.html">
     <img src="assets/images/logo_ph.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to Meteor</h3>
       <h3 class="resource-subtitle">From Purdue Hackers</h3>
       <p class="resource-description">
       This handy set of tutorials will help you learn the basics of using the Meteor javascript framework.
       </p>
     </div>
     </a>
   </div>

   <!-- WebDev Club -->
   <div class="resource-card">
     <a href="https://maneesht.gitbooks.io/hello-spotify/content/">
     <img src="assets/images/logo_webdev.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Hello Spotify</h3>
       <h3 class="resource-subtitle">From our friends at the WebDev Club</h3>
       <p class="resource-description">
       This set of tutorials will walk you through creating a web-based spotify client.
       </p>
     </div>
     </a>
   </div>

   <!-- iOS Dev Club -->
   <div class="resource-card">
     <a href="https://launchpadcs.gitbooks.io/android-guides/content/">
     <img src="assets/images/logo_ios_small.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to iOS</h3>
       <h3 class="resource-subtitle">From our friends at the iOS Dev Club</h3>
       <p class="resource-description">
       This presentation will walk you through creating an iOS pokedex app.
       </p>
     </div>
     </a>
   </div>

   <!-- LaunchPad WebDev -->
   <div class="resource-card">
     <a href="https://launchpadcs.gitbooks.io/android-guides/content/">
     <img src="assets/images/logo_launchpad.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to Android</h3>
       <h3 class="resource-subtitle">From our friends at Launchpad</h3>
       <p class="resource-description">
       This small set of resources will help you get started with the basics of Android development.
       </p>
     </div>
     </a>
   </div>

   <!-- LaunchPad Android -->
   <div class="resource-card">
     <a href="https://launchpadcs.gitbooks.io/webdev-guides/content/">
     <img src="assets/images/logo_launchpad.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to WebDev</h3>
       <h3 class="resource-subtitle">From our friends at Launchpad</h3>
       <p class="resource-description">
       This small set of resources will help you get started with the basics of frontend web development.
       </p>
     </div>
     </a>
   </div>

   <!-- LaunchPad Backend -->
   <div class="resource-card">
     <a href="https://launchpadcs.gitbooks.io/backend-guides/content/">
     <img src="assets/images/logo_launchpad.png" class="resource-logo" />
     <div class="resource-body">
       <h3 class="resource-title">Welcome to Backend</h3>
       <h3 class="resource-subtitle">From our friends at Launchpad</h3>
       <p class="resource-description">
       This small set of resources will help you get started with the basics of backend web development.
       </p>
     </div>
     </a>
   </div>

   <!-- How to WebDev -->
  <div class="resource-card">
    <a href="https://boilercamp.gitbooks.io/boilercamp2016/content/">
    <img src="assets/images/logo_boilermake.png" class="resource-logo" />
    <div class="resource-body">
      <h3 class="resource-title">How to WebDev</h3>
      <h3 class="resource-subtitle">From our friends at BoilerMake</h3>
      <p class="resource-description">
      This short series of tutorials covers the basics of Web Development.
      </p>
    </div>
    </a>
  </div>

  <!-- How to API -->
  <div class="resource-card">
    <a href="http://boilermake.github.io/how-to-webdev/">
    <img src="assets/images/logo_boilermake.png" class="resource-logo" />
    <div class="resource-body">
      <h3 class="resource-title">How to API</h3>
      <h3 class="resource-subtitle">From our friends at BoilerMake</h3>
      <p class="resource-description">
      This set of tutorials covers how to create a simple REST api with node and AngularJS.
      </p>
    </div>
    </a>
  </div>

</div>
