<md-card class="login-card">
 
  <md-card-content>
   <h1>Login</h1>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      
      <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !email.valid }">
        <input placeholder="Email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required>
      </md-input-container>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      
 
      <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !password.valid }">
        <input placeholder="Password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
      </md-input-container>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> 

    <div class="buttons">
      <button md-raised-button md-ripple [disabled]="loading" mdRippleColor="#F00">Login</button>
      <button md-button [routerLink]="['/register']">Register</button>
      <button md-button [routerLink]="['/resetPassword']" class="float-right">Forgot Password?</button>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
