.login-card {
  max-width: 600px;
  margin: 1em auto;
}

h1 {
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
}




button {
  color: black;
  width: 120px;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.float-right {
  width: auto;
  background-color: #ac7b77;
  color: white;
  margin-right: -10px;
}

.float-right:hover {
  background-color: #f6d9d6;
  color: #101B24;
}
