

h1 {
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
}

md-input-container {
  margin-bottom: -30px;
}

.buttons {
  margin-top: 70px;
  margin-left: 0px;
}

button {
  color: black;
  width: 120px;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.float-right {
  width: auto;
  background-color: #ac7b77;
  color: white;
  margin-right: -10px;
}

.float-right:hover {
  background-color: #f6d9d6;
  color: #101B24;
}

.help-block {
  margin-top:20px;
  margin-bottom: -30px;
}
