<md-card class="login-card">
  <md-card-header>
    <md-card-title><h1>Login</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div>
        <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !email.valid }">
          <input mdInput placeholder="Email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required>
        </md-input-container>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      </div>

      <div>
      <md-input-container class="full-width" [ngClass]="{ 'ng-invalid': f.submitted && !password.valid }">
        <input mdInput placeholder="Password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
      </md-input-container>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="buttons">
      <button md-raised-button md-ripple [disabled]="loading" mdRippleColor="#F00">Login</button>
      <a md-button [routerLink]="['/register']">Register</a>
    </div>

      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        value="indeterminate"
        class="spinner">
      </md-progress-spinner>

    </form>
  </md-card-content>
</md-card>
