.login-card {
  max-width: 530px;
  min-width: 530px;
}

h1 {
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.buttons{
   margin-left: 0px;
}
.float-right {
  margin-right: -10px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
