/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

/* Colors
teal: ##55C296
navy: #101B24
light teal: #C1FFF2
light blue: #7489A7
*/
body {
  font-family: 'Varela Round', sans-serif;
  background-color: #101B24;
  margin: 0;
  color: white;
  background-image: url('../images/stars.svg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  text-align: center;
}
section {
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

.box {

  width: 1000px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin:auto;
  border: 1px solid #C1FFF2;
  color: #C1FFF2;
  border-radius: 5px;
  background: rgba(16, 27, 36, 0.9);
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
h1 {
  font-family: 'Short Stack', sans-serif;
}
p {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav a {
  padding: 20px 10px;
  color: #C1FFF2;
  align-self: center;
  font-size: 20px;
}
nav a span:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #C1FFF2;
}

a {
  text-decoration: none;
}

footer {
  padding: 20px;
}
a:focus, button:focus {
  outline: none;
}

.faq .q {
  text-align: left;
  font-weight: 400;
  color: white;
}
.faq .a {
  text-align: left;
  font-weight: 200;
}

li {
  margin: 3px;
  list-style-type: none;
  font-family: 'Varela Round', sans-serif;
  color: #4AC29A;
}

.register_button {
  margin-right: 40px;
  margin-top: -20px;
}
.register {
  font-family: 'Short Stack', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  padding: 20px 80px;
  background-color: #ac7b77;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: -20px;
}
.register:hover {
  border-radius: 5px;
  background-color: #f6d9d6;
  color: #101B24;
}
.sign_in {
  color: white;
  text-decoration: underline;
  padding-left: 5px;
}
.mentor {
  font-family: 'Short Stack', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  width: 254.98px;
  padding: 20px;
  background-color: #4ac29a;
  color: white;
  font-weight: 500;
  margin-top: 20px;
}
.mentor:hover {
  border-radius: 5px;
  background-color: #bdfce7;
  color: #101B24;
}

button {
  padding: 10px 20px;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background-color: #55C296;
  border: none;
  border-radius: 4px;
}
button:hover {
  background-color: #C1FFF2;
  color: #101B24;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.padded-divs div {
  padding: 20px;
}
.faq {
  color: #C1FFF2;
  font-size: 13px;
  vertical-align: middle;
  display: inline;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #C1FFF2;
  padding: 20px 15px 15px 15px;
}
.faq p {
  display: inline;
}
.faq .icon {
  margin-top: -5px;
  display: inline;
  max-width: 20px;
  padding: 5px;
}
.faq i {
  color: #C1FFF2;
  padding: 5px;
}


.login-card {
  min-width: 530px;
  max-width: 530px;
  margin: 1em auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin:auto;
  border: 1px solid #C1FFF2;
  color: #C1FFF2;
  border-radius: 5px;
  background: rgba(16, 27, 36, 0.9);
  vertical-align: middle;
  text-align: left;
}


input {
  position: absolute;
  width: 445px;
  padding: 20px 20px;
  font-size: 18px;
  display: inline-block;
  border: 1px solid #C1FFF2;
  border-radius: 4px;
  background: rgba(16, 27, 36, 0.9);
  font-family: 'Varela Round', sans-serif;
  color: #4AC29A;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: #C1FFF2;
}

.inputWrapper {
  margin-left: auto;
  margin-right: auto;
}

.formInput {
  margin-bottom: -30px;
  display: inline-block;
  position: relative;
  text-align: left;
}

.buttons {
  margin-top: 70px;
  margin-left: 0px;
}

.help-block {
  color: red;
  margin-top:20px;
  margin-bottom: -30px;
}
