<md-card class="main-card">
  <div *ngIf="!loading">
    <md-card-header>
      <md-card-title><h1>{{application.user.firstname}} {{application.user.lastname}} ({{application.status_internal}})</h1></md-card-title>
    </md-card-header>
    <md-card-content>
      <div>
        <h3>Class Year:</h3> <p>{{application.class_year}}</p>
        <h3>Graduation Year:</h3> <p>{{application.grad_year}}</p>
        <h3>Hackathon Count:</h3> <p>{{application.hackathon_count}}</p>
        <h3>Major:</h3> <p>{{application.major}}</p>
        <h3>Shirt Size:</h3> <p>{{application.shirt_size | uppercase}}</p>
        <div [hidden]="!application.website">
          <h3>Website:</h3> <p>{{application.website}}</p>
        </div>
        <h3>Why do you want to attend Hello World?:</h3> <p>{{application.longanswer_1}}</p>
        <h3>What do you hope to learn from your experience at Hello World?:</h3> <p>{{application.longanswer_2}}</p>
        <span [hidden]="!application.resume?.url">
          <h3>Resume URL:</h3> <a [hidden]="true" href="{{application.resume?.url}}" md-button>Click here</a>
        </span>
        <span [hidden]="!!application.resume?.url">
          <h3> No resume uploaded</h3>
        </span>
      </div>
      <div class="buttons" [mdTooltip]="application && application.status_internal == 'accepted' ? 'Warning: User is already marked as accepted' : null">
        <button class="ui-button" [disabled]="application && application.status_internal == 'accepted'" (click)="setStatus('accepted')">Accept</button>
        <button class="ui-button" [disabled]="application && application.status_internal == 'waitlisted'" (click)="setStatus('waitlisted')">Waitlist</button>
        <button class="ui-button" [disabled]="application && application.status_internal == 'rejected'" (click)="setStatus('rejected')">Reject</button>
      </div>
    </md-card-content>
  </div>
  <md-progress-spinner
    *ngIf="loading"
    color="primary"
    mode="indeterminate"
    class="spinner">
  </md-progress-spinner>
</md-card>
