<div class="con">
    <h1>Announcements</h1>
  <div>
    <hr>
    <div *ngFor="let announcement of announcements">
      <div class="announcement">
        <a *ngIf="currentUser && currentUser.roles.indexOf('admin') !== -1" class="float-right delete-button" (click)="deleteAnnouncement(announcement.id)">&times;</a>
          <p class="announcement-title">{{announcement.title}}</p>
          <p class="announcement-timestamp">Posted {{getDateString(announcement.created_at) | amTimeAgo}} at {{getDateString(announcement.created_at) | amDateFormat:'h:mm A'}}</p>
        <p md-line> {{announcement.message}}</p>
      </div>
      <hr>
    </div>
    <md-progress-spinner
      *ngIf="loading"
      color="primary"
      mode="indeterminate"
      class="spinner">
    </md-progress-spinner>
  </div>
</div>
