<md-card class="main-card">
  <md-card-header>
    <md-card-title><h1>Announcements</h1></md-card-title>
  </md-card-header>
  <md-card-content>
      <div *ngFor="let announcement of announcements">
        <md-card>
          <p md-line> {{announcement.message}}
            <a *ngIf="currentUser && currentUser.roles.indexOf('admin') !== -1" class="float-right delete-button" (click)="deleteAnnouncement(announcement.id)">&times;</a>
          </p>
        </md-card>
      </div>
      <md-progress-spinner
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        class="spinner">
      </md-progress-spinner>
  </md-card-content>
</md-card>
