.main-card {
  max-width: 600px;
  margin: 1em auto;
}

.float-right{
  float: right;
}

.full-width {
  width: 100%;
  margin: 1em;
}

.buttons {
  margin: 1em;
}

.spinner {
  margin: 0 auto;
  max-width: 3em !important;
  max-height: 3em !important;
  width: 100% !important;
  height: 100% !important;
}

.spinner-sm {
  margin: 0 auto;
  width: 24px;
  height: 24px;
}
