<md-card class="main-card">
  <md-card-content>
    <h1>Applications</h1>
    <input class="formInput" placeholder="Filter by name or email" [(ngModel)]="model.nameFilter" (ngModelChange)="filter()">
    <input class="formInput" placeholder="Filter by major" [(ngModel)]="model.majorFilter" (ngModelChange)="filter()">
    <label for="sort_mode">Sort By:</label>
    <select class="formInput" [(ngModel)]="model.sort_mode" #sort_mode="ngModel" name="sort_mode" (change)="filter()">
      <option *ngFor="let mode of sort_options" [value]="mode.value">
        {{mode.viewValue}}
      </option>
    </select>
    <div class="filters">
      <div class="filter">
        <label for="class_year">Class Year</label>
        <select class="formInput" [(ngModel)]="model.yearFilter" #class_year="ngModel" name="class_year" (change)="filter()">
          <option *ngFor="let year of class_years" [value]="year.value">
            {{year.viewValue}}
          </option>
        </select>
      </div>
      <div class="filter">
        <label for="status">Application Status</label>
        <select class="formInput" [(ngModel)]="model.statusFilter" name="status" (change)="filter()">
          <option *ngFor="let status of statuses" [value]="status.value">
            {{status.viewValue}}
          </option>
        </select>
      </div>
      <div class="filter">
        <label for="resume">Resume Status</label>
        <select class="formInput" [(ngModel)]="model.resumeFilter" name="resume" (change)="filter()">
          <option *ngFor="let resume of resume_options" [value]="resume.value">
            {{resume.viewValue}}
          </option>
        </select>
      </div>
    </div>
    <a [routerLink]="['/application', app.id]"  *ngFor="let app of filteredApplications">
      <md-card class="main-card">
        <h2 md-line> {{app.user.firstname}} {{app.user.lastname}} </h2>
        <p md-line> {{app.status_internal}} </p>
      </md-card>
    </a>
  </md-card-content>
</md-card>
