<md-card class="home-card">
  <md-card-header>
    <md-card-title><h1>Hi {{currentUser.firstname}}!</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <div *ngIf="currentUser.roles.indexOf('admin') !== -1 else elseBlock">
      <h3>Admin Actions:</h3>
      <li>
        <ul>
          <a md-button [routerLink]="['/applications']">Applications</a>
        </ul>
        <ul>
          <a md-button [routerLink]="['/announcement']">Post Announcement</a>
        </ul>
        <ul>
          <a md-button [routerLink]="['/checkin']">Check In</a>
        </ul>
      </li>
    </div>
    <ng-template #elseBlock>
      <!--TODO: Replace email verification hardcoded condition-->
      <div *ngIf="true else elseBlock">
        <h3>Application Status:</h3>
        <div class="application-status">
          <div *ngIf="appSubmitted else elseBlock">
            <h2>{{application.status | uppercase}}</h2>
          </div>
          <ng-template #elseBlock>
            <h2>INCOMPLETE</h2>
          </ng-template>
        </div>
      </div>
      <ng-template #elseBlock>
        <p>Please verify your to access the application.</p>
        <a md-raised-button (click)="resendVerificationEmail()">Resend Verification Email</a>
        <md-progress-spinner
          *ngIf="loading"
          color="primary"
          mode="indeterminate"
          value="indeterminate"
          class="spinner">
        </md-progress-spinner>
      </ng-template>
    </ng-template>
    <br>
    <div class="buttons">
      <a md-raised-button [routerLink]="['/application']">Application</a>
      <a md-button [routerLink]="['/login']">Logout</a>
    </div>
  </md-card-content>
</md-card>
