.login-card {
  max-width: 600px;
  margin: 1em auto;
  text-align: center;
}

.application-status {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  background-color: #f0f0f0;
  color: #0f0f0f;
}

li{
  list-style: none;
}
