.login-card {
  max-width: 530px;
  min-width: 530px;
}

.spinner {
  margin: 0 auto;
  width: 3em;
  height: 3em;
}

h1 {
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.buttons{
   margin-left: 0px;
}